.custom-h1 {
  font-family: "Space Mono", monospace !important;
  color: #f7f7f7 !important;
  text-shadow: 2px 2px 4px #000000 !important;
}

.custom-h2 {
  font-family: "Space Mono", monospace !important;
  color: #d1d1d1 !important;
}

.custom-p {
  font-family: "Space Mono", monospace;
  color: #f0f0f0;
}

.custome-text {
  font-family: "Space Mono", monospace;
  color: #b6d2ef !important;
  font-weight: 900;
  text-shadow: 2px 2px 4px #000000 !important;
}

.custom-label {
  font-family: "Space Mono", monospace;
  color: #b6d2ef;
  margin-right: 5px;
}

.input-custom {
  border: 2px solid #00b7ff;
  border-radius: 5px;
  padding: 8px 12px;
  font-family: "Space Mono", monospace;
  font-size: 16px;
  color: #b6d2ef !important;
  background-color: #7c7c7f;
}

.input-custom:focus {
  border-color: #0074b3;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.card-img-custom {
  border-radius: 20px;
  border-color: #b6d2ef !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  transition: transform 0.3s ease-in-out;
}
.card-img-custom:hover {
  transform: scale(1.05); /* Increase the scale on hover */
}

/* Custom CSS for date picker input */
#datePicker {
  /* Apply your custom styles here */
  border: 2px solid #b6d2ef; /* Example border color */
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 16px;
  color: #b6d2ef !important; /* Example text color */
  background-color: #787a7dd7; /* Example background color */
}

/* Custom styling for date picker input when it's focused */
#datePicker:focus {
  /* Apply styles when the input is focused */
  border-color: #0056b3; /* Example border color on focus */
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Example box shadow on focus */
}
#datePicker::before {
  color: #007bff; /* Example color for the calendar icon */
}

.background-image {
  position: fixed; /* Keeps the background image fixed while scrolling */
  top: 0;
  left: 0;
  width: 100%; /* Covers the entire width of the viewport */
  height: 100%; /* Covers the entire height of the viewport */
  background-image: url("../../../public/images/Homebg.jpg");
  background-size: cover; /* Ensures the background image covers the entire container */
  background-position: center; /* Centers the background image */
  z-index: -5; /* Places the background image behind other content */
}

.background-image::before {
  content: ""; /* Creates a pseudo-element to apply overlay */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 19, 19, 0.5); /* Adds a semi-transparent overlay */
}
