/* Footer Styles */
footer {
  position: fixed; /* Fix the footer position */
  bottom: 0; /* Align the footer to the bottom */
  width: 100%; /* Make the footer span the entire width */
  color: #fff;
  padding: 0px 0;
  background-color: #222; /* Background color for the footer */
  z-index: 1000; /* Ensure the footer is above other content */
}

.footer-content {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  padding: 0 20px;
}

.footer-section h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 1rem;
  line-height: 1.4;
}

.footer-section address {
  font-style: normal;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
}

.footer-bottom p {
  font-size: 0.8rem;
  margin: 0;
}
.icon {
  color: #fff; /* Set icon color to white */
  font-size: 1rem; /* Adjust icon size */
  margin-right: 10px; /* Add spacing between icons */
  transition: color 0.3s ease; /* Add transition effect */
}

.icon:hover {
  color: #ff7f50; /* Change icon color on hover */
}
